<div class="about_middle_section common_middle_class">
   <div class="container  text-center white"> 
    <div class="whiteline"></div>
    <h1>ABOUT US</h1>
   </div> <!-- container -->
</div>

<div class="container margin_50 accord" style="margin-bottom:50px">
	<h1>About Us</h1>
	<p>Espai is a new and exciting concept from the creators of Bragout. The social media platform dedicated to bragging rights, showcasing the exceptional talents and skills of a new generation of achievers and connecting with people who share or have the same interests, gifts, talents or passions. It is a site to connect sports and fitness enthusiasts with each other.
	<br> 
	Espai focuses on finding spaces for users by the hour or daily. Have you ever wanted to rent out a studio room for 1 or 2 hours for a meeting or for a dance lesson? How about renting out your backyard for a birthday celebration? Espai makes it possible for people to rent spaces by the hour.</p>
</div>